<!doctype html>
<html lang="en">
<head>
    <title>Almacen de Libros-Editar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/book-open-reader-solid.svg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8aa89f7912.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header id="header">
</header>
<main>
    <div class="container" id="app">
        <form class="form">
            <h2>Editar Libro </h2>
            <p>Precio: ${{precio}}</p>
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="number" name="id" id="id" disabled v-model="id" class="form-control">
            </div>
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" name="titulo" id="titulo" v-model="titulo" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" for="autor">Autor</label>
                <input class="form-control" type="text" name="autor" id="autor" v-model="autor">
            </div>    
            <div class="mb-3">
                <label class="form-label" for="precio">Precio</label>
                <input class="form-control" type="number" name="precio" id="precio" v-model="precio">
            </div>
            <div class="mb-3">
                <label class="form-label" for="stock">Stock</label>
                <input class="form-control" type="number" name="stock" id="stock" v-model="stock">
            </div>
            <div class="mb-3">
                <label class="form-label" for="imagen">Imagen</label>
                <input class="form-control" type="text" name="imagen" id="imagen" v-model="imagen">
                <div class="img">
                    <img width="100" :src="imagen" alt="">
                </div>
            </div>
            <button type="button" class="btn btn-warning" v-on:click="modificar()">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </button>
        </form>
    </div>
</main>
<footer id="footer">
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"> </script>
<script src="../js/main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/producto_editar.js"></script>
</body>
</html>